<%= render "shared/navbar" %>
<div class="container">
  <h1><%= @list.name %></h1>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <% @list.movies.each do |movie| %>
      <div class="col">
        <div class="card">
          <%= image_tag movie.poster_url, class: "card-img poster", alt: "movie poster" %>
          <div class="card-body">
            <h5 class="card-title"><%= movie.title %></h5>
            <p class="card-text"><%= movie.overview %></p>
            <p class="card-text"><%= movie.rating %></p>
            <p class="card-text fst-italic">"<%= movie.bookmarks.where(list: @list).map(&:comment).join %>"</p>
            <%= link_to "Delete bookmark", bookmark_path(Bookmark.find_by(movie: movie, list: @list)), class: "btn btn-danger text-white", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
            <%# Alternative %>
            <%#= link_to "Delete bookmark", bookmark_path(movie.bookmarks.find_by(list: @list)), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %> 
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>